.main {
  min-height: 100vh;
  
  &.hideContent {
    display: none;
  }

  & > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 564px;
    margin: 0 auto;
    padding: 4rem 2rem;

    @media screen and (max-width:767px) {
      padding: 4rem 2rem;
    }
  }
}
