@font-face {
  font-family: LobsterTwo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/LobsterTwo/Regular.ttf") format("truetype");
}

@font-face {
  font-family: LobsterTwo;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/LobsterTwo/Bold.ttf") format("truetype");
}
