.profileImageContainer {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);

  &.dasboard {
    width: 2.25rem;
    height: 2.25rem;
    min-width: 2.25rem;
    min-height: 2.25rem;
    cursor: pointer;
  }
  &.dasboardInner {
    width: 2.75rem;
    height: 2.75rem;
    min-width: 2.75rem;
    min-height: 2.75rem;
  }

  & > .profileImage {
    width: 100%;
    height: 100%;
  }

  & > .firstLetter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
