@font-face {
  font-family: LeagueSpartan;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/p/fonts/LeagueSpartan/Regular.ttf") format("truetype");
}

@font-face {
  font-family: LeagueSpartan;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/p/fonts/LeagueSpartan/Bold.ttf") format("truetype");
}
