.panel {
  background-color: #f5f8fa;
  width: 100%;
  min-height: 100vh;

  & > .panelContent {
    display: flex;
    position: relative;
    align-items: flex-start;

    & > .settings {
      padding: 32px;
      width: 660px;
      margin: 0 auto;
    }

    & > .demo {
      position: sticky;
      top: 0;
      padding: 32px;

      & > .demoContentWrapper {
        position: relative;
        width: 320px;
        margin: 0 auto;
        padding-top: 196%;

        & > .demoContent {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          overflow-y: auto;
          overflow-x: hidden;
          border: 1px solid red;
          border-radius: 15px;
        }
      }
    }
  }
}
