.main {
    min-height: 100%;
    padding: 2rem;


    & > .content {
        max-width: 600px;
        margin: 0 auto;
    }
  }
  

  .title {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .text {
    margin-bottom: 1rem;
  }