@font-face {
  font-family: PTSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/p/fonts/PTSans/Regular.ttf") format("truetype");
}

@font-face {
  font-family: PTSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/p/fonts/PTSans/Bold.ttf") format("truetype");
}
