.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  max-width: 680px;
}

.profileTitle {
  font-size: 16px;
  margin-bottom: 16px;
}

.profileDescription {
  font-size: 14px;
  margin-bottom: 16px;
}

.linksWrapper {
  &.reverse {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 100%;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logoLink {
  display: flex;
  margin-top: 64px;
}
